<ons-page>
    <div class="background"><img style="max-width:100%;
      width: auto;" src="assets/splash.jpg"></div>
  
    <div class="content">
      <div class="logo" >Challenge Active!</div>
      <div style="text-align: center; margin: 10px; ">
        <ons-button modifier="large--cta" style="background-color: green" (click)="onClick()">Login</ons-button>
        <br><br>
        <ons-button modifier="large" (click)="onClick()">Register</ons-button>
  
      </div>
    </div>
  </ons-page>