/* You can add global styles to this file, and also import other style files */
@import '../node_modules/onsenui/css/onsenui.css';
@import 'assets/onsen-css-components.css';
@import 'assets/theme.css';

@font-face {
	font-family: 'TheBlacklist';
	src: url('assets/TheBlacklist.eot');
	src: local('TheBlacklist'), url('assets/TheBlacklist.woff') format('woff'), url('assets/TheBlacklist.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_79299">Text with this font applied</p> */
.fontsforweb_fontid_79299 {
	font-family: 'TheBlacklist' !important;
}
.text-input--underbar{
    color: white !important;
}