/* You can add global styles to this file, and also import other style files */
@import '../node_modules/onsenui/css/onsenui.css';
@import '../node_modules/onsenui/css/onsen-css-components.css';
@font-face {
	font-family: 'TheBlacklist';
	src: url('assets/TheBlacklist.eot');
	src: local('TheBlacklist'), url('assets/TheBlacklist.woff') format('woff'), url('assets/TheBlacklist.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_79299">Text with this font applied</p> */
.fontsforweb_fontid_79299 {
	font-family: 'TheBlacklist' !important;
}

.logo{
    text-shadow: #666 0 0 5px;
    font-size:65px;
    color:#fff;
    text-align:center;
    padding:20px;
	font-family: 'TheBlacklist' !important;

}
