<ons-page>
    <ons-toolbar>

        <div class="center">
            <div style="font-family: 'TheBlacklist' !important; font-size: 1.2em;">Travel Active</div>
        </div>

    </ons-toolbar>
    <div class="content">
        <div class="header"> Welcome {{userData.getUsername()}} </div>
        <app-points></app-points>
        <ons-card>
            <ons-button modifier="large" style="margin-top: 10px" (click)="goToTeam()">Team</ons-button>
            <ons-button modifier="large" style="margin-top: 10px" (click)="goToCommute()">Commute</ons-button>
            <ons-button modifier="large" style="margin-top: 10px" (click)="getChallenge()">Challenge Me!</ons-button>
        </ons-card>
        <ons-list>
                <ons-list-item *ngFor="let challenge of challenges">
                   <div class="left"><fa name="trophy"></fa></div>
                   
                   <div class="center"><strong>{{challenge.name}}</strong> - 
                        <small class="text-muted">{{challenge.description}} </small>
                        <div></div>
                        <small style="padding-left: 10px; font-weight:bold" class="text-muted">{{challenge.activity}}</small>
                        <div *ngIf="challenge.difficulty == 'EASY'">
                                <small style="padding-left: 10px; font-weight:bold; color:green" class="text-muted">{{challenge.difficulty}}</small>
                        </div>
                        <div *ngIf="challenge.difficulty == 'MEDIUM'">
                                <small style="padding-left: 10px; font-weight:bold; color:yellow" class="text-muted">{{challenge.difficulty}}</small>
                        </div>
                        <div *ngIf="challenge.difficulty == 'HARD'">
                                <small style="padding-left: 10px; font-weight:bold; color:yellow" class="text-muted">{{challenge.difficulty}}</small>
                        </div>
                   </div>
                   <div class="right">
                       <div style="padding-right: 20px">{{challenge.points}}</div> <ons-button (click)="completeChallenge(challenge.points)">Complete!</ons-button>
                   </div>
                </ons-list-item>
            </ons-list>
    </div>
  
</ons-page>
