<ons-page>
<div class="content">
    <ons-splitter #splitter>
        <ons-splitter-side [page]="sidePage" side="left" width="220px" collapse swipeable>
        </ons-splitter-side>
    
        <ons-splitter-content [page]="contentPage">
        </ons-splitter-content>
      </ons-splitter>
  
  <div class="header">  Welcome {{userData.getUsername()}} </div>

<app-points></app-points>

<ons-card>
<ons-button modifier="large" (click)="getChallenge()">Get a Challenge</ons-button>
</ons-card>
</div>
</ons-page>


