<ons-page>
    <ons-toolbar>     

        <div class="center">
           <div style="font-family: 'TheBlacklist' !important; font-size: 1.2em;">Travel Active</div>
           </div>
           <div class="left">
                <ons-button (click)="goToTeam()">Team</ons-button>
           </div>
           <div class="left"></div>
           <div class="left">
                <ons-button (click)="goToCommute()">Commute</ons-button>
           </div>
    </ons-toolbar>
<div class="content">
  <div class="header">  Welcome {{userData.getUsername()}} </div>
<app-points></app-points>
<ons-card>
<ons-button modifier="large" (click)="getChallenge()">Challenge Me!</ons-button>

<ul>
        <li *ngFor="let challenge of challenges">{{challenge.name}}</li>
      </ul>
</ons-card>
</div>
</ons-page>


